<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/test.css">
    <title>Document</title>
</head>

<body>
    <div class="stringFunction">
        <div class="test-1">
            lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus rerum eum blanditiis sed commodi odit in
            exercitationem eius dolor magnam ipsum, suscipit id ullam dicta eos similique reiciendis est ducimus.
        </div>
        <br />
        <div class="test-2">
            lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus rerum eum blanditiis sed commodi odit in
            exercitationem eius dolor magnam ipsum, suscipit id ullam dicta eos similique reiciendis est ducimus.
        </div>
        <br />
        <div class="test-3">
            lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus rerum eum blanditiis sed commodi odit in
            exercitationem eius dolor magnam ipsum, suscipit id ullam dicta eos similique reiciendis est ducimus.
        </div>
    </div>
    <div class="colorFunction">
        <div id="first"></div>
        <div id="second"></div>
        <div id="third"></div>
        <div id="fourth"></div>
        <div id="fifth"></div>
        <div id="six"></div>
        <div id="seven"></div>
        <div id="eight"></div>
    </div>
    <div class="colorFunction">
        <div class="first"></div>
        <div class="second"></div>
        <div class="third"></div>
        <div class="fourth"></div>
        <div class="fifth"></div>
        <div class="six"></div>
        <div class="seven"></div>
        <div class="eight"></div>
    </div>
</body>